<div class="home">
  <h3>This is Home component</h3>
  <br>
  Tỉnh / Thành phố:
  <select id="city" (change)="changeCity($event)">
    <option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}</option>
  </select>
  <br>
  Quận / Huyện:
  <select id="district">
    <option *ngFor="let district of districts">{{district}}</option>
  </select>
</div>
<br>
<div>
  <input type="text" [(ngModel)]="name" />
  <h4>Hello {{ name }}</h4>
  <button (click)="resetName()">Reset Name</button>
  <br>
  <input type="text" [(ngModel)]="age" />
  <h3>Tuổi bạn là {{age}}</h3>

  <div *ngIf="age <= 18; then tre else gia"></div>
  <ng-template #tre><h2>Bạn còn trẻ quá</h2></ng-template>
  <ng-template #gia><h2>Bạn đã già rồi</h2></ng-template>

  <h1>Trái cây</h1>
  <ul *ngFor="let trai of traiCay; let i = index">
    <li>{{i + 1 }}. {{trai}}</li>
  </ul>
</div>
  <br>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>OnSale</th>
    </tr>
    <tr *ngFor="let trai of traiCay2; let i = index">
      <th>{{i + 1}}</th>
      <td>{{trai.name | uppercase}}</td>
      <td><span [ngClass]="{'negative' : trai.price < 0 }">{{trai.price | currency: "USD":"symbol":"1.2"}}</span></td>
      <td>
        <span>{{trai.onSale | onSale | uppercase}}</span>
      </td>
    </tr>
  </table>
  <br>

